*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #001428;
}

.navbar{
    display: flex;
}



.line-slid{
    color: #fff;
}

.logo{
    width: 80px;
}


.search{
    background-color: #3C444B;
    margin-left: 50px;
    width: 280px;
    height: 40px;
}


.b{
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 100px;
}

.navbar ul{
    list-style: none;
    margin-left: 20px;
    gap: 40px;
    display: flex;
}

.navbar li{
    color: #fff;
}

.hero-section{
   width: 100%;
}

.hero-section img{
   width: 100%;
}

.f-box{
    width: 90%;
    height: 60px;
    margin-top: 100px;
    background-color: #17293C;
    display: flex;
    padding: 2px 2px 2px 2px;
    margin-left: 70px;
    
    
}


.b-t{
    font-family: sans-serif;
    color: #82C1E9;
    text-align: center;
    font-size: 18px;
    /* font-size: 25px; */
   width: 299px;
   height: 58px;
   /* margin-left: 50px; */
   background-color: #0B1E32;
   padding: 20px;


}


.c-t{
    font-family: sans-serif;
    color: #82C1E9;
    text-align: center;
    font-size: 18px;
    /* font-size: 25px; */
    width: 299px;
    height: 58px;
    /* margin-left: 50px; */
    margin-left: 2px;
    background-color: #0B1E32;
    padding: 20px;

 }

 .d-t{
    font-family: sans-serif;
    color: #82C1E9;
    text-align: center;
    /* font-size: 25px; */
    font-size: 18px;
    width: 299px;
    height: 58px;
    /* margin-left: 50px; */
    margin-left: 2px;
    background-color: #0B1E32;
    padding: 20px;


 }

 .e-t{
    font-family: sans-serif;
    color: #82C1E9;
    text-align: center;
    font-size: 18px;
    width: 299px;
    height: 58px;
    /* margin-left: 50px; */
    margin-left: 2px;
    background-color: #0B1E32;
    padding: 20px;


 }

 .f-t{
    font-family: sans-serif;
    color: #82C1E9;
    text-align: center;
    font-size: 18px;
    width: 299px;
    height: 58px;
    margin-left: 2px;
    background-color: #0B1E32;
    padding: 20px;

 }



 .multi-box{
    width: 100%;
    height: 100vh;
    background-color: #001428;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
 }

 .box1{

    background-color: #0B1E32;
    height: 600px;
    width: 450px;
 }

 .h-log{
    font-family: sans-serif;
    font-size:45px;
    text-align: center;
    color: #fff;
 }

 .p-log{
    margin-top: 20px;
    margin-left: 150px;
    font-size: 25px;
    color: #fff;
 }


 .btn-log{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    border: 1px solid white;
    margin-left: 140px;
 }

 .img-log{
    width: 400px;
 }


 .box2{
    background-color: #0B1E32;
    height: 600px;
    width: 450px;
 }

 .box3{
    background-color: #0B1E32;
    height: 600px;
    width: 450px;
 }


 .img-h{
    width: 100%;
    /* height: 600px; */
 }


 .box55{
    width: 100%;
    height: 100vh;
    display: flex;
 }
 

 .box00{
    width: 50%;
    height: 100vh;
    background-color: #82C1E9;
 }

 .box11{
    width: 50%;
    height: 100vh;
    background-color: aqua;
 }

 .box00 img{
    width: 100%;
    height: 100%;
 }

 .box11 img{
    width: 100%;
    height: 100%;
 }


 .side-multi{
     width: 100%;
     height: 100vh;
     background-color: #001428;
     display: flex;
     align-items: center;
     justify-content: space-around;
     padding: 50px;


 }


 .ct1{
   width: 260px;
   height: 400px;
   background-color: #0B1E32;
 }

 .ct2{
   width: 260px;
   height: 400px;
   background-color: #0B1E32;
 }

 .ct3{
   width: 260px;
   height: 400px;
   background-color: #0B1E32;
 }

 .ct4{
   width: 260px;
   height: 400px;
   background-color: #0B1E32;
 }

 .ct5{
   width: 260px;
   height: 400px;
   background-color: #0B1E32;
 }


 .img-s{
   width: 250px;
 }

 .img-d{
   width: 250px;
 }

 .img-f{
   width: 250px;
 }

 .img-g{
   width: 250px;
 }

 .img-h{
   width: 100%;
 }

 .ht-li{
   padding: 20px;
   margin-top: 60px;
   font-family: sans-serif;
   color: #fff;
   font-size: 20px;
 }

 .ht-lo{
   padding: 20px;
   margin-top: 50px;
   font-family: sans-serif;
   color: #fff;
   font-size: 20px;
 }

 .titel-t{
   left: 70px;
   top: 2880px;
   color: #fff;
   font-family: sans-serif;
   position: absolute;
   font-size: 45px;
 }

 .ht-lp{
   padding: 20px;
   margin-top: 50px;
   font-family: sans-serif;
   color: #fff;
   font-size: 20px;
 }

 .ht-la{
   padding: 20px;
   margin-top: 50px;
   font-family: sans-serif;
   color: #fff;
   font-size: 20px;
 }

 .ht-ls{
   padding: 20px;
   margin-top: 60px;
   font-family: sans-serif;
   color: #fff;
   font-size: 20px;
 }
 .search-part{
   margin-top: -120px;
   width: 100%;
   height: 40vh;
   /* border: 2px solid red; */
   text-align: center;
   background: #001428;
}

.heading{
   font-size: 35px;
   font-family: sans-serif;
   color: #fff;
}

.search-btn{
   margin-top: 20px;
   width: 400px;
   height: 40px;
   border-radius: 50px;
   text-align: left;
   font-size: 20px;
   background-color: #263748;
   padding-left: 20px;
}

.btn-part{
   margin-top: 20px;
   width: 100%;
}


.edg-btn{
   width: 200px;
   height: 30px;
   background-color: #1A2C3E;
   border-radius: 50px;
   color: #fff;
}


.ed-btn{
   width: 200px;
   height: 30px;
   background-color: #1A2C3E;
   border-radius: 50px;
   color: #fff;
}

.nt-btn{
   width: 200px;
   height: 30px;
   background-color: #1A2C3E;
   border-radius: 50px;
   color: #fff;
}

.btn-part2{
   margin-top: 10px;
   width: 100%;
}


.email{
   width: 100%;
   height: 100vh;
   background: #0C1F32;
   display: flex;
   align-items: center;
   position: relative;

}

.logo-m{
   width: 500px;
   margin-top: -450px;
}

.looh{
   font-weight: 600;
   font-size: 35px;
   position: absolute;
   left: 600px;
   top:30px;
   color: #fff;
   font-family: sans-serif;
}

.search-bar{
   height: 50px;
   border-radius: 50px;
   position: absolute;
   top: 100px;
   left: 500px;
   font-size: 25px;
   padding: 20px;
   color: #fff;
   border: 1px solid rgb(255, 255, 255);
   background: transparent;
   width: 500px;
}

.search-r{
   height: 50px;
   border-radius: 0px 50px 50px 0px;
   position: absolute;
   top: 100px;
   left: 900px;
   font-size: 20px;
   padding: 20px;
   color: #ffffff;
   /* border: 1px solid white; */
   background-color: red;
   width: 190px;
}

.sml-p{
   color: #fff;
   position: absolute;
   top: 170px;
   left: 530px;
}

.mul-on{
   color: #fff;
   font-size: 18px;
   margin-top: 290px;
   margin-left: -350px;
}

.footer{
   width: 100%;
   height: 90vh;
   background-color: #001428;
   display: flex;
   align-items: start;
   justify-content: start;
   position: relative;
}

.footer ul{
   margin-left: 100px;
   margin-top: 50px;
   list-style: none;
}

.footer li{
   font-family: sans-serif;
   margin-top: 20px;
   font-size: 15px;
   color: #6d6c6c;
}

.us{
   font-size: 25px;
   color: #fff;
   font-family: sans-serif;
   position: absolute;
   top: 442px;
   left: 680px;
   /* text-decoration:; */
}

.p1{
   font-size: 25px;
   color: #fff;
}  

.p2{
   font-size: 25px;
   color: #fff;
}  

.p3{
   font-size: 25px;
   color: #fff;
}  

.p4{
   font-size: 25px;
   color: #fff;
}  

.p5{
   font-size: 25px;
   color: #fff;
}  

.flag{
   left: 750px;
   top: 450px;
   position: absolute;
   width: 30px;
}

.line-hr{
   width: 100%;
   height: 1px;
   top: 500px;
   position: absolute;
   color: #fff;
}

.last-p{
   color: #fff;
   position: absolute;
   top: 550px;
   left: 100px;
}